<li class="#{homeActive}"><a href="/">Home</a></li>
<li class="#{magazineActive}"><a href="/magazine.html">Magazine</a></li>
<li class="#{advertiseActive}"><a href="/advertise.html">Advertise</a></li>
<li class="#{realtorsActive}"><a href="/realtors.html">Realtors</a></li>
<li class="#{aboutActive}"><a href="/about.html">About</a></li>
//<li class="#{newsActive}"><a href="/news.html">News</a></li>
//<li class="#{whereActive}"><a href="/where.html">Where to Find</a></li>
<li class="#{contactActive}"><a href="/contact.html">Contact</a></li>